body{
background-color: rgb(242, 244, 238);
text-align: center;
font-weight: 900;
font-family: Arial, Helvetica, sans-serif;
}
    
.next-button{
display: inline;
margin-top: 4em;
background-color: rgb(242, 220, 74);
border: 1px solid rgb(240, 222, 104);
color: black;
letter-spacing: 0.1em;
/* opacity: 0.7; */
font-weight: 900;
padding: 0.5em 0em;
width: 6rem;
border-radius: 0.3rem;
outline: none;
cursor: pointer;
}

.next-button:hover{
background-color: rgb(214, 186, 0);
}
    
h2{
text-align: center;
margin: 0;
letter-spacing: 0.2em;
color: black;
font-weight: 700;
/* opacity: 0.7; */
font-size: 1.3em;
padding-bottom: 0.75em;
}
    
input[type="text"]{
text-align: left;
background-color: rgba(161, 177, 206, 0.3);
/* font-weight: 300; */
border: 0px solid rgba(165, 190, 234, 0.67);
color: black;
font-size: 20px;
/* box-sizing: border-box; */
height: 35px;
border-radius: 15px;
outline: none;
}
    
.back-button{
display: inline;
margin-top: 4em;
background-color: rgb(242, 220, 74);
border: 1px solid rgb(240, 222, 104);
color: black;
letter-spacing: 0.1em;
/* opacity: 0.7; */
font-weight: 900;
padding: 0.5em 0em;
width: 6rem;
border-radius: 0.3rem;
outline: none;
cursor: pointer;
}

.back-button:hover{
background-color: rgb(214, 186, 0);    
}

.main-bit{
margin-top: 250px;    
}

form {
max-width: 400px;
margin: 0 auto;
}
      
.input-group {
display: flex; 
align-items: center;
margin-bottom: 10px;  
}
      
.input-box {
padding: 5px 10px;
border: 1px solid #ccc;
width: 100%;
} 
      
.input-label {
display: inline-block;
width: 100px;
text-align: right;
margin-right: 10px;
}

.forms{
margin-right: 75px;
}